#QuickMenu{
    z-index: 100000;
    position: fixed;
    height: 121px;
    width: 60px;
    right: 0;
    bottom: 0;
    .container{
        width: 100%;
        height: 100%;
        ul{
            font-size: 0;
            position: relative;
            width: 100%;
            height: 100%;
            li{
                width: 100%;
                height: 50%;
                .go-top{
                    width: 100%;
                    height: 100%;
                    .go-top-btn{
                        right: 0;
                        bottom: 61px;
                        position: absolute;
                        cursor: pointer;
                        border: 0;
                        height: 60px;
                        width: 60px;
                        display: block;
                        background: url(../../../public/images/intro/nav_bot_btn.png) no-repeat;
                    
                    }
                }
                .recent{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .recent-btn {
                        right: 0;
                        bottom: 0;
                        position: absolute;
                        cursor: pointer;
                        border: 0;
                        height: 60px;
                        width: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: end;
                        background: url(../../../public/images/intro/nav_bot_btn.png) 0 -60px no-repeat;
                        color: #fff;
                        font-size: 12px;
                        font-weight: bold;
                    }
                  
                    p {
                        position: absolute;
                        bottom: -20px;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 12px;
                        color: #333;
                        display: block;
                    }
                }
                .cancel{
                    width: 100%;
                    height: 100%;
                    .cancel-btn{
                        right: 0;
                        bottom: 0;
                        position: absolute;
                        cursor: pointer;
                        border: 0;
                        height: 60px;
                        width: 60px;
                        display: block;
                        background: url(../../../public/images/intro/nav_bot_btn.png) 0 -120px no-repeat;
                    }
                }
                &:nth-child(1){
                    margin-bottom: 1px;
                }
            }
        }
        .recent-box{
            z-index: 1;
            top: 0;
            right: 60px;
            position: absolute;
            z-index: 30;
            width: 327px;
            height: 121px;
            border: #000 solid 2px;
            border-right-width: 0;
            background-color: #fff;
            overflow: hidden;
            .gap{
                width: 230px;
                margin: 37px auto 0;
                ul{
                    position: relative;
                    width: 100%;
                    height: 120px;
                    display: flex;
                    li{
                        width: 70px;
                        margin-right: 10px;
                        &:hover{
                            a{
                                border: 1px solid #000;
                            }
                            span{
                                opacity: 1;
                            }
                        }
                        span{
                            opacity: 0;
                            display: block;
                            font-size: 11px;
                            position: absolute;
                            left: 0px;
                            top: -18px;
                            color: #999;
                            width: 231px;
                            text-align: center;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        a{
                            background-color: #f8f8f8;
                            width: 70px;
                            height: 70px;
                            display: block;
                            img{
                                width: 70px;
                                height: 70px;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}