.home-searchform {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 280px;
  left: 40%;
}

@media (max-width: 768px) {

  /* 모바일 해상도 기준 */
  .home-searchform {
    display: none;
    /* 모바일에서 숨기기 */
  }
}