.home-searchform {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 280px; 
  left: 33%; 
}
.mainpage{
  display:flex;
  justify-content:center;
}
@media (max-width: 768px) {
  .home-searchform {
    top: 200px; /* Adjust top position for mobile */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Proper centering on mobile */
  }

  .main-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* Optional: Adjust the padding or margin for the footer or other sections */
  .home-searchform {
    width: 80%; /* You can adjust width to make it fit better on smaller screens */
  }
}