.searchform-banner{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 200px;
}
  
@media (max-width: 768px) { /* 모바일 해상도 기준 */
    .searchform-banner {
        display: none; /* 모바일에서 숨기기 */
    }
}