.loading-lottie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-lottie .lottie-img {
    max-width: 150px;
    /* 이미지 크기 조정 */
    height: auto;
}