<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.trip.app.model.MemberDTO" alias="memberDTO"/>
        <typeAlias type="com.trip.app.model.ScheduleDTO" alias="scheduleDTO"/>
        <typeAlias type="com.trip.app.model.LikeListDTO" alias="likeListDTO"/>
        <typeAlias type="com.trip.app.model.LikeListDTO" alias="likeListDTO"/>
        <typeAlias type="com.trip.app.model.TourApiPlaceDTO" alias="tourApiPlaceDTO"/>
    </typeAliases>
</configuration>