.navlink {
  display: flex;
  position: absolute;
  right: 30px;
}

.searchform-layout {
  margin-top: 5px;
  border-radius: 40px;
}

.fauser {
  padding-top: 7.5px;
  margin-left: 25px;
  margin-right: 35px;
  cursor: pointer;
}

.action {
  margin-left: 25px;
}

.navbarstyle {
  display: flex;
  justify-content: flex-end;
}

.header {
  background: url(../로고\ 메이커\ 프로젝트.mp4) no repeat;
  display: flex;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.header video {
  height: 100%;
  width: auto;
}

.searchform-layout2 {
  border-radius: 40px;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 1050;
}

body {
  padding-top: 90px;
}


  .logo {
    margin-top: 20px; /* 위에서 20px만큼 아래로 내림 */
    display: block; /* block 속성으로 여백과 정렬을 제어 */
    width: auto; /* 필요에 따라 크기 조정 */
    height: auto;
  }

@media (max-width: 768px) {

  /* 모바일 해상도 기준 */
  .fauser {
    padding-top: 7.5px;
    cursor: pointer;
  }
}