<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trip.app.mapper.MemberMapper">
    <insert id="memberSave" parameterType="memberDTO">
        insert into user (loginId, password, name, email, phoneNumber, gender, birth, role)
        values (#{loginId}, #{password}, #{name}, #{email}, #{phoneNumber}, #{gender}, #{birth}, "ROLE_USER")
    </insert>

    <select id="findByUsername" parameterType="String" resultType="memberDTO">
        select * from user where loginId = #{username}
    </select>

    <select id="checkDuplicateId" parameterType="String" resultType="MemberDTO">
        select * from user where loginId = #{loginId}
    </select>

    <select id="checkDuplicateEmail" parameterType="String" resultType="MemberDTO">
        select * from user where email = #{email}
    </select>

    <select id="findIdByNameAndEmail" parameterType="map" resultType="MemberDTO">
        select loginId, createAt from user where name = #{name} and email = #{email}
    </select>

    <select id="findPwByIdAndEmail" parameterType="map" resultType="MemberDTO">
        select loginId from user where loginId = #{loginId} and email = #{email}
    </select>

    <update id="updatePassword" parameterType="MemberDTO">
        update user
        set password = #{password}
        where loginId = #{loginId}
    </update>

    <update id="updateUserInfo" parameterType="memberDTO">
        update user
        set
        name = #{name},
        email = #{email},
        phoneNumber = #{phoneNumber},
        gender = #{gender},
        birth = #{birth},
        password = #{password}
        where loginId = #{loginId}
    </update>

    <!--  아이디로 시퀀스넘버 찾기  -->
    <select id="findSeqNum" resultType="Integer" parameterType="String">
        SELECT id FROM user
        WHERE loginId = #{id};
    </select>

</mapper>