<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.app.mapper.ScheduleMapper">
    <!--  여행 정보 저장  -->
    <insert id="insertSchedule" parameterType="ScheduleDTO">
        INSERT INTO trips (loginId, title, start_date, end_date, tripPlan)
        VALUES (#{loginId}, #{title}, #{startDate}, #{endDate}, #{tripPlan})
    </insert>
</mapper>

