<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.app.mapper.TourApiMapper">
    
    <insert id="insertPlace" parameterType="com.trip.app.model.TourApiPlaceDTO">
        INSERT INTO tour_api_place (
            content_id, title, addr1, addr2, first_image, first_image2,
            mapx, mapy, content_type_id, cat1, cat2, cat3
        ) VALUES (
            #{contentId}, #{title}, #{addr1}, #{addr2}, #{firstImage}, #{firstImage2},
            #{mapx}, #{mapy}, #{contentTypeId}, #{cat1}, #{cat2}, #{cat3}
        )
    </insert>
    
    <insert id="insertPlaces" parameterType="java.util.List">
        INSERT INTO tour_api_place (
            content_id, title, addr1, addr2, first_image, first_image2,
            mapx, mapy, content_type_id, cat1, cat2, cat3
        ) VALUES 
        <foreach collection="list" item="place" separator=",">
            (#{place.contentId}, #{place.title}, #{place.addr1}, #{place.addr2}, 
             #{place.firstImage}, #{place.firstImage2}, #{place.mapx}, #{place.mapy}, 
             #{place.contentTypeId}, #{place.cat1}, #{place.cat2}, #{place.cat3})
        </foreach>
    </insert>
    
    <select id="searchPlaces" resultType="com.trip.app.model.TourApiPlaceDTO">
        SELECT * FROM tour_api_place
        WHERE 1=1
        <if test="keyword != null and keyword != ''">
            AND (title LIKE CONCAT('%', #{keyword}, '%')
            OR addr1 LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="contentTypeId != null and contentTypeId != ''">
            AND content_type_id = #{contentTypeId}
        </if>
        ORDER BY id DESC
        LIMIT #{start}, #{size}
    </select>
    
    <select id="countPlaces" resultType="int">
        SELECT COUNT(*) FROM tour_api_place
        <where>
            <if test="keyword != null and keyword != ''">
                AND (title LIKE CONCAT('%', #{keyword}, '%')
                OR addr1 LIKE CONCAT('%', #{keyword}, '%'))
            </if>
            <if test="contentTypeId != null and contentTypeId != ''">
                AND content_type_id = #{contentTypeId}
            </if>
        </where>
    </select>
    
    <select id="existsByContentId" resultType="boolean">
        SELECT EXISTS (
            SELECT 1 FROM tour_api_place WHERE content_id = #{contentId}
        )
    </select>
</mapper> 